.header {
  .logo {
    font-size: 1.6rem;
    margin-left: 2rem;
    color: var(--color-grey-dark-4);
    font-weight: 600;
    text-transform: uppercase;
  }

  .search {
    display: flex;
    flex: 0 0 40%;
    align-items: center;

    .search__input {
      width: 90%;
      font-size: inherit;
      background-color: var(--color-grey-light-3);
      padding: 1rem 1.5rem;
      border-radius: 100px;
      border: 0;
      outline: 0;
      margin-right: -3rem;
    }
    .search__icon {
      height: 1.8rem;
      width: 1.8rem;
      fill: var(--color-grey-dark-3);
      background-color: var(--color-grey-light-3);
    }
  }

  .menu {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;

    > * {
      display: flex;
      align-items: center;
      padding: 0rem 2rem;
      cursor: pointer;
    }

    .menu__button {
      background: var(--color-primary);
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      border: none;
      padding: 0.5rem 2rem;
      text-transform: uppercase;
      transition: 0.2s all;

      &:hover,
      &:active {
        background-color: var(--color-primary-light);
      }
    }
  }
}
.content {
  @include respond("tab-port") {
    flex-direction: column;
  }

  .sidebar {
    .menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: 2rem;

      @include respond("tab-port") {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
      }

      &__item {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        color: #fff;
        padding: 1.2rem 3.5rem;
        text-transform: uppercase;
        user-select: none;
        cursor: pointer;

        @include respond("tab-port") {
          margin: 0;
          padding: 2rem;
        }

        @include respond("phone") {
          padding: 1rem;
        }
      }

      &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary-dark);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
      }

      &__item:hover::before,
      &__item--active::before {
        transform: scaleY(1);
        width: 100%;
      }

      &__item:active::before {
        background-color: var(--color-primary);
      }

      &__link,
      &__link:visited {
        z-index: 999;
      }

      .menu__icon {
        margin-right: 2rem;
        fill: #fff;
        height: 2rem;
        width: 2rem;
        z-index: 999;
      }
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;

    .gallery__image {
      display: block;
      width: 100%;
      height: auto;
      background-position: center;
      background-size: cover;
    }
  }

  .overview {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid var(--line);

    .overview-name {
      font-size: 2.25rem;
      text-transform: uppercase;
      font-weight: 300;
      color: var(--color-ligh-4);
      padding: 1.5rem 3rem;
    }

    .overview-icons {
      margin-right: auto;

      .overview__icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: var(--color-primary);
      }
    }

    .overview-location {
      display: flex;
      align-items: center;
      margin-right: 4rem;

      .overview-location__icon {
        fill: var(--color-primary);
        height: 1.5rem;
        width: 1.5rem;
      }

      .overview-location__link {
        font-size: 1.2rem;
        color: var(--color-primary);
      }
    }

    .overview-ratings {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--color-primary);
      padding: 0.8rem 1.5rem;
      color: #fff;

      &__amount {
        font-size: 2.25rem;
        font-weight: 300;
      }

      &__votes {
        color: #fff;
      }
    }
  }

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    background-color: var(--color-grey-light-2);

    @include respond("tab-port") {
      flex-direction: column;
    }

    .description {
      background: #fff;
      padding: 3rem;
      font-size: 1.4rem;
      margin-right: 4.5rem;
      box-shadow: var(--shadow-light);

      @include respond("tab-port") {
        margin-right: 0;
        margin-bottom: 4rem;
      }

      .paragraph {
        padding-bottom: 2rem;

        &:last-child {
          padding-bottom: 0rem;
        }
      }

      .list {
        padding: 2rem 0rem;
        margin: 2rem 0rem;
        border-top: var(--line);
        border-bottom: var(--line);
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
          flex: 0 0 50%;
          margin-bottom: 0.8rem;

          &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: 0.7rem;
            background-image: url(../img/chevron-thin-right.svg);
            background-size: cover;
          }
        }
      }

      .recommend {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__count {
          font-size: 1.2rem;
        }

        &__friends {
          display: flex;
          img {
            height: 4rem;
            width: 4rem;
            border-radius: 250px;
            margin-right: -0.8rem;
            border: 3px solid #fff;
          }
        }
      }
    }

    .user-reviews {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond("tab-port") {
        display: flex;
        flex-direction: column;
        align-items: normal;
      }
    }

    .review {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      background-color: #fff;
      font-size: 1.4rem;
      margin-bottom: 4rem;
      box-shadow: var(--shadow-light);

      &__text {
        margin-bottom: 2rem;
      }

      &__user {
        display: flex;
      }

      &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 250px;
        margin-right: 1rem;
      }

      &__user-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
        align-items: center;
      }

      &__user-name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
      }

      &__user-date {
        color: var(--color-grey-dark-3);
        font-size: 1rem;
      }

      &__rating {
        color: var(--color-primary);
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  .btn-inline {
    border: none;
    outline: none;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: transparent;
    align-self: center;

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  .footer {
    &__text {
      font-weight: 300;
      font-size: 2.25rem;
      color: var(--color-grey-dark-4);
      text-transform: uppercase;
    }

    &__btn {
      font-size: 1.8rem;
      margin: 2rem 0rem;
      text-transform: uppercase;
      background: var(--color-primary);
      color: #fff;
      padding: 2rem 4rem;
      border: none;
      border-radius: 250px;
      cursor: pointer;
      transition: 0.2s all;
    }

    &__btn:hover,
    &__btn:active {
      background-color: var(--color-primary-light);
    }
  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--color-shadow-dark);
  background-color: var(--color-grey-light-1);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-grey-light-1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark-3);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
